body{
    background-color: rgb(14 23 73);
    color: rgb(235, 232, 229);
    
}
.card{
    background-color: rgb(70, 82, 153);
}
.form-control{
    background-color: rgb(183, 191, 231);
}
.navbar{
    
    background-color: #000000cc;
    color: aliceblue;
    height: 8vh;
    width: 100vw;
    
}
.des{
    width: 100vw;
    display: flex;
    justify-content: space-between;
   
    
}
.des li{
    list-style: none;
    margin: 1%;
    font-size: 21px;
    
}
.p2{
    display: flex;
    justify-content: space-around;
    width: 10vw;
    
    margin-right: 2vw;
  

}
.p1{
    width: 10vw;
    
    margin-left: 1vw;
}
.cony{
    height: 10vh;
}